<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :pregunta %>
      <%= form.text_field :text, type: 'text', class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit('Send', class: 'btn btn-primary') %>
  </div>
<% end %>
