<div class="main main-raised" style="margin: 0 30px 0 30px">
  <div class="section" style="padding-top: 0px">
    <div class="container">
      <%= link_to 'Nueva pregunta', new_quiz_question_path, class: 'btn btn-info' %>
      <% if notice %>
        <p class="alert alert-success" id="notice"><%= notice %></p>
      <% end %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Pregunta</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.text %></td>
              <td><%= link_to 'Respuestas', question_answers_path(question) %></td>
              <td><%= link_to 'Show', question %></td>
              <td><%= link_to 'Edit', edit_question_path(question) %></td>
              <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Back', quizzes_path %>
    </div>
  </div>
</div>
