<div class="main main-raised" style="margin: 0 30px 0 30px">
  <div class="section" style="padding-top: 0px">
    <div class="container">
      <p id="notice"><%= notice %></p>
      <h1><%= @quiz.title %></h1>

      <h2>Preguntas</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Pregunta</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.text %></td>
              <td><%= link_to 'Show', quiz_question_path(question) %></td>
              <td><%= link_to 'Edit', edit_quiz_question_path(question) %></td>
              <td><%= link_to 'Destroy', quiz_question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'Edit', edit_quiz_path(@quiz) %> |
      <%= link_to 'Back', quizzes_path %>
    </div>
  </div>
</div>
